# `tabula-rasa/py/pd/notebooks/08/08.ipynb`

---

My solutions for [/08_Creating_Series_and_DataFrames/Pokemon](https://github.com/zachhall/pandas_exercises/tree/master/08_Creating_Series_and_DataFrames/Pokemon)

## ‚ùÑ Step 1. Import the necessary libraries

In [1]:
import pandas as pd

## üå∏ Step 2. Create a data dictionary that looks like the DataFrame below

## ‚ùÑ Step 3. Assign it to a variable called pokemon

In [2]:
dictionary = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"],
}

In [5]:
df = pd.DataFrame(dictionary)

df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

## üå∏ Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [8]:
df = df[["name", "type", "hp", "pokedex"]]

df

         name   type  hp pokedex
0   Bulbasaur  grass  45     yes
1  Charmander   fire  39      no
2    Squirtle  water  44     yes
3    Caterpie    bug  45      no

## ‚ùÑ Step 5. Add another column called place, and insert what you have in mind.

In [10]:
df["place"] = ["Hidden Village", "On a rock", "In a gang", "Viridian Forest"]

df

         name   type  hp pokedex            place
0   Bulbasaur  grass  45     yes   Hidden Village
1  Charmander   fire  39      no        On a rock
2    Squirtle  water  44     yes        In a gang
3    Caterpie    bug  45      no  Viridian Forest

## üå∏ Step 6. Present the type of each column

In [11]:
df.dtypes

name       object
type       object
hp          int64
pokedex    object
place      object
dtype: object

## üìö References üìö

- [Ash's Bulbasaur | Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Ash%27s_Bulbasaur)
- [Ash's Charizard | Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Ash%27s_Charizard)
- [Ash's Squirtle | Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Ash%27s_Squirtle)
- [Ash's Butterfree | Bulbapedia](https://bulbapedia.bulbagarden.net/wiki/Ash%27s_Butterfree)