# `tabula-rasa/py/pd/notebooks/06/06.ipynb`

---

My solutiosn for [/06_Stats/US_Baby_Names](https://github.com/zachhall/pandas_exercises/tree/master/06_Stats/US_Baby_Names)

## ‚ùÑ Step 1. Import the necessary libraries

In [1]:
import os
import pandas as pd

## üå∏ Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

## ‚ùÑ Step 3. Assign it to a variable called baby_names.

## üå∏ Step 4. See the first 10 entries

In [2]:
path = os.path.join(".", "..", "..", "data", "06", "US_Baby_Names_right.csv")
baby_names = pd.read_csv(path)
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

## ‚ùÑ Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [3]:
baby_names.drop(columns=["Unnamed: 0", "Id"], inplace=True)

## üå∏ Step 6. Is there more male or female names in the dataset?

In [4]:
genders = baby_names["Gender"]
genders.value_counts()
genders.value_counts().idxmax()

'F'

## ‚ùÑ Step 7. Group the dataset by name and assign to names

In [5]:
gb = baby_names.groupby("Name")
names = gb["Count"].sum()

names

Name
Aaban        12
Aadan        23
Aadarsh       5
Aaden      3426
Aadhav        6
           ...
Zyra         42
Zyrah        11
Zyren         6
Zyria        59
Zyriah       58
Name: Count, Length: 17632, dtype: int64

## üå∏ Step 8. How many different names exist in the dataset?

In [6]:
names.shape[0]

17632

## ‚ùÑ Step 9. What is the name with most occurrences?

In [7]:
ser = names == names.max()
names[ser].shape[0]

1

In [8]:
names[ser].index[0]

'Jacob'

## üå∏ Step 10. How many different names have the least occurrences?

In [9]:
ser = names == names.min()
names[ser].shape[0]

2578

## ‚ùÑ Step 11. What is the median name occurrence?

In [10]:
names.median()

49.0

## üå∏ Step 12. What is the standard deviation of names?

In [11]:
names.std()

11006.06946789057

## ‚ùÑ Step 13. Get a summary with the mean, min, max, std and quartiles.

In [12]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64